<div class="contentMain container" style="background-color:rgb(154, 199, 207)">
    <div class="fullWidth">
        <header class="d-flex justify-content-center">
            <h2>Movies</h2>
        </header>
        <div class="content-main radius-2 p-3 ">
            <div class="row" class="d-flex justify-content-center">
                <div class="col-md-8 " style="background-color:cornsilk ">
                    <div class="table-box table-fullwidth pt-3 " style="flex-basis:100% ">
                        <div class="table-responsive ">
                            <table class="table table-hover table-striped table-bordered table-sm ">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th>Movie</th>
                                        <th>Link</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let displayItem of movies ; let i=index;">
                                        <td>{{displayItem.name }}</td>
                                        <td>
                                            <a href="https://www.youtube.com/">click here to watch    
                                      </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>